* {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#intro-text{
    color: white;
    font-size: large;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}
#splashSVG{
    display: block;
    /* position: absolute; */
}
#main-container{
    display: none;
    /* position:absolute; */
}
.st12{
    font-style: italic;
}
.btn {
    cursor: pointer;
}
.btn:hover{
    text-decoration: underline;
}
.st2{
    color:#FFFFFF;
}
.st4{
    font-size:30.4812px;
}
p {
    color: white;
}
#grid-container{
    display: grid;

    width: 100%;
    height: 90%;

    grid-template-columns: auto auto;
    justify-content: space-around;
    /* row-gap: 15vw; */
}
#svganchor{
    grid-column: 1;
}
#image-container{
    grid-column: 2;
    /* width: 50%; */
    /* height: 100%; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 30px; */


}
.right-side{
    outline: 1px solid rgb(123, 123, 123);
}
img{
    width: 100%;
    height: 100%;
}


/* svg{
    margin-right: 50px;
} */

#annotation{
    text-align: center;
}